numpy<2.0.0
tqdm 
scikit-image 
opencv-python 
configargparse 
lpips 
imageio-ffmpeg 
easydict
kornia 
tensorboard
tensorboardX 
matplotlib 
plyfile 
trimesh 
h5py 
pandas
omegaconf 
PyMCubes 
Ninja 
pyransac3d 
einops 
pyglet 
pre-commit 
pylint 
GPUtil
open3d 
pyrender 
viser 
huggingface_hub 
peft 
decord 
sentencepiece 
wandb
spconv-cu120
cupy-cuda12x 
timm==0.6.7
torch-geometric==2.4.0
roma
tyro
scikit-learn
diffusers==0.25.1
transformers==4.57.1
brisque-opencv